html {
    /* width: 1400px; */
}

body {
    font-family: Cabin;
    /* margin: 0 auto; */
}




.header {
    width: 100%;
    background-color: #EEEEEF;
    position: sticky;
    top: 0;
    z-index: 100;
    
}

.logo-backet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* s */
    padding: 16px 52px;
    background: #10BBD5;
    margin: 0 auto;
}

.right-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
}

.cart-button {
    width: 40px;
    height: 40px;
    background: #10BBD5;

}

.cart-image {
    position: fixed;
    top: 16px;
    right: 53px;
    z-index: 2;
}

.zero-cart {
    position: fixed;
    top: 28px;
    right: 66px;
    z-index: 3;
    font-size: 12px;
    font-weight: 400;
    line-height: 10px;
}

.price-summary {
    line-height: 24px;
    font-size: 16px;
    color: #F8FDFE;
}

.navigation-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 1296px; */
    padding-left: 52px;
    padding-right: 52px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 24px;
    background-color: white;
}

.second-part-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.menu-part {
    line-height: 24px;
    font-size: 16px;
}



main {
    padding-left: 52px;
    padding-right: 52px;
    background-color: #EEEEEF;
    padding-bottom: 120px;
    /* width: 1296px; */
    align-items: center;
    margin: 0 auto;
}

.site-title {
    font-size: 32px;
    color: #1F1F1F;
    font-weight: 600;
    line-height: 40px;
    padding: 32px 0;
    margin: 0 0;
    border-bottom: 1px solid #A8A8A8;
    background: #EEEEEF;

}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #EEEEEF;
    padding-top: 24px;
    /* width: 1296px; */
    gap: 24px;
}

.card {
    width: 242px;
    height: 448px;
    padding: 32px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: auto;
    gap: 16px;

}


.book-image {
    width: 178px;
    height: 280px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: white;
}

.book-name {
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    margin: 0px;
    border-bottom: 1px solid #8E8E8E;
}

.book-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.book-author {
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0px;
    /* margin-top: 8px; */
}

.book-price {
    display: inline;
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    padding-right: 24px;
    margin: 0px;
}

.old-price {
    color: #8E8E8E;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin: 0px;
    text-decoration: line-through;
}


.buybook-button {
    justify-content: flex-end;
    align-self: center;
    align-content: center;
    border-radius: 4px;
    padding: 8px 24px;
    width: 242px;
    background-color: #4C394E;
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.buybook-button2 {
    justify-content: flex-end;
    align-self: center;
    align-content: center;
    border-radius: 4px;
    padding: 8px 24px;
    width: 242px;
    background-color: #4D762D;
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.markers {
    position: absolute;  
    top: 32spx;
    left: 32px;
    z-index: 2;
}

.first-marker {
    border-radius: 4px;
    display: inline-block;
    background: #4200FF;
    padding: 4px 8px;
    /* position: absolute;  
    top: 32spx;
    left: 32px; */
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.second-marker {
    border-radius: 4px;
    display: inline-block;
    background: #4200FF;
    padding: 4px 8px;
    /* position: absolute;  
    top: 32spx;
    left: 32px; */
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.first-marker.first-marker-pink {
    background: #EA33C0;
}

.first-marker.first-marker-purple {
    background: #AF39E7;
}

.second-marker.second-marker-pink {
    background: #EA33C0;
}

.chat {
    height: 64px;
    width: 64px;
    border-radius: 90px;
    background-color: #10BBD5;
    position: fixed;
    top: 596px;
    right: 28px;
    z-index: 0;
    border: 0px;

}

.chat-picture {
    height: 51px;
    width: 51px;
    position: fixed;
    top: 602px;
    right: 34px;
    z-index: 1;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4C394E;
    padding: 32px 52px;
}

.footer-elements {
    color: #F8FDFE;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}